table{
    width: 100%;
}

th{
    color: rgb(240, 76, 0);
    cursor: pointer;
}
 
td {
    border: 1px solid #686868;
    border-radius:5px;
    text-align: start;
    padding: 5px 10px;
    max-height: 10px;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  td:hover {
    white-space: normal;
    overflow: visible;
  }

  .inputTD{
    border: none;
  }



